<?xml version="1.0" encoding="utf-8"?>
<manifest package="moe.reimu.weiboxposed"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="xposedmodule"
            android:value="true"/>
        <meta-data
            android:name="xposeddescription"
            android:value="@string/module_desc"/>
        <meta-data
            android:name="xposedminversion"
            android:value="30"/>

        <activity
            android:name=".SettingsActivity"
            android:exported="true"
            android:label="@string/title_activity_settings">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="de.robv.android.xposed.category.MODULE_SETTINGS"/>
            </intent-filter>
        </activity>

        <provider
            android:name=".SettingsProvider"
            android:authorities="moe.reimu.weiboxposed.provider"
            android:enabled="true"
            android:exported="true"
            android:readPermission="com.sina.weibo.data.sp.dbsharedpreference">
        </provider>
    </application>

</manifest>